extends ../config/template 
append config
	-currentPage		= title
	-siteName			= 'Layouts'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
block main-container
	h1=title  
	h2 kike 
block main-footer
block scripts 


